* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primaryGreen: rgba(73, 94, 87, 1);
  --primaryYellow: rgba(244, 206, 20);

  --secondarySalmon: rgba(228, 153, 144);
  --secondaryPink: rgba(251, 218, 187);

  --highlightWhite: rgba(237, 239, 238);
  --highlightBlack: rgba(51, 51, 51);

  /* typogophy */
  --karla: 'Karla', sans-serif;
  --markazi: 'Markazi Text', serif;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--highlightBlack);
  background-color: var(--highlightWhite);
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: var(--markazi);
}

li {
  list-style: none;
  font-family: var(--karla);
  font-size: 18;
  font-weight: bold;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1440px;
  height: 100%;
}
