.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 123px;
  width: 100%;
  background-color: var(--highlightWhite);
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50vw;
  height: 100%;
}

.logo {
  height: 8.5vh;
  width: 10.5vw;
  margin-right: 5rem;
}
