.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 123px;
  width: 75%;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50vw;
  height: 100%;
}
